
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
        <p>Spoken Dialog Assistant for Recommendation System</p>
    </div>
</div>
{% endblock %}

