{% extends "layout.html" %}

{% block js %}
{#    <script>#}
{#    var app = require('express')();#}
{#    var server = require('http').Server(app);#}
{#    var io = require('socket.io')(server);#}
{#    var botui = new BotUI('botui-app');#}
{#    var socket = io.connect('http://localhost:8010');#}
{#    botui.message.add({#}
{#        content: 'Lets Start Talking…',#}
{#            delay: 1500,#}
{#        }).then(function () {#}
{#            botui.action.text({#}
{#            action: {#}
{#            placeholder: 'Say Hello', }#}
{#        }#}
{#            ).then(function (res) {#}
{#            socket.emit('fromClient', { client : res.value }); // sends the message typed to server}).then(#}
{#        function () {#}
{#        socket.on('fromServer', function (data) { // recieveing a reply from server.#}
{#            botui.message.add({#}
{#            content: data.server,#}
{#            delay: 500,#}
{#            });#}
{#        }); })#}
{# });#}
{#    </script>#}

<script>
function getBotResponse() {
  var rawText = $("#textInput").val();
  var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
  $("#textInput").val("");
  $("#chatbox").append(userHtml);
  document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
  $.get("{{ url_for('public.get_bot_response') }}", { msg: rawText }).done(function(data) {
    var i;
    var data = (new Function("return" + data + ";")());
    for (i = 0; i < data.length; i++) {
        if (data[i].text) {
            var botHtml = '<br><p class="botText"><span>' + data[i].text + '</span></p>';
            $("#chatbox").append(botHtml);
        }
        else if (data[i].image){
            var botHtmlImg = '<br><p class="botText"><img src=' + data[i].image + ' width="460" height="345"></p>';
            $("#chatbox").append(botHtmlImg);
        }
        else{
            var botHtml = '<br><p class="botText"><span>' + data[i] + '</span></p>';
            $("#chatbox").append(botHtml);
        }
    document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
    }
  });
}
$("#textInput").keypress(function(e) {
    if(e.which == 13) {
        getBotResponse();
    }
});

$("#buttonInput").click(function() {
  getBotResponse();
})
</script>
{% endblock %}

{% block content %}
{#<div class="main">#}
    <h1>Movie recommendation with</h1>
    <h3>Rob, your personal assistant.</h3>

{#    <div class="botui-app-container" id="botui-app">#}
{#        <bot-ui></bot-ui>#}
{#{    </div>#}

    <div>
    <p id="demo"></p>
      <div id="chatbox">
        <p class="botText"><span>Hi! I am Rob. How can I help you?</span></p>
        <p><img src="http://anthillonline.com/wp-content/uploads/2018/07/chatbot.jpg" width="460" height="345"></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>

    </div>

{#</div>#}



{% endblock %}

