<footer>
  <small>
  <ul class="company">
    <li>© Dawid Wełna</li>
  </ul>

    <ul class="footer-nav">

      <li><a href="{{ url_for('public.about') }}">About</a></li>

      <li><a href="{{ url_for('public.home') }}">Contact</a></li>
    </ul>
  </small>
</footer>
